body{
  background-color: #E0FFFF;
}
.clock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 200px;
}

h1{
  font-size: 75px;
  font-family: roboto, 'sans-serif';
  color:		#008B8B;
}

span{
  font-size: 100px;
  font-family: roboto, 'sans-serif';
  color:#7FFFD4;
}